* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', Arial, sans-serif; /* Cambiado a Lexend */
}

body {
    font-family: 'Lexia', sans-serif;
    color: #fff;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: transparent;
    padding: 1rem 0;
    transition: background 0.3s, padding 0.3s;
}

header.scrolled {
    background: #ff3300;
    padding: 0.5rem 0;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
}

nav ul li {
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;

}
nav ul li a:hover {
    color: #cc8a00; /* Cambia el color del texto */
    transform: scale(1.1); /* Aumenta el tamaño del botón al hacer hover */
    border-radius: 5px; /* Opcional: agrega bordes redondeados */
}
nav ul li a.active {
    color: #ffaa00;
    border-radius: 5px;
}

.dark-mode nav ul li a {
    color: black;
}

.dark-mode-toggle {
    background: none;
    border: 2px solid white;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

.dark-mode .dark-mode-toggle {
    border: 2px solid black;
    color: black;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 70px;
    height: 70px;
    transition: transform 0.3s, width 0.3s, height 0.3s;
}

header.scrolled .logo-img {
    width: 50px;
    height: 50px;
}

.logo-img:hover {
    transform: scale(1.2);
}

.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#video-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-text {
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
    padding: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-text p {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}


.btn {
    display: inline-block;
    padding: 0.7rem 1.5rem;
    background: #f35b04;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn:hover {
    background: #f35b04;
}

section {
    padding: 50px 20px;
    position: relative;
    text-align: center;
    color: white;
}
.section h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.section p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.section ul {
    list-style: none;
    padding: 0;
}

.section ul li {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

/* Estilos para diferentes secciones */
.section:nth-of-type(odd) {
    clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
}

.section:nth-of-type(even) {
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
}

/* Secciones - Estilos de color y mejora de contraste */
.section-yellow {
    background-color: #ffaa00;
    color: white;
}

.section-blue {
    background-color: #0055ff;
    color: white;
}

.section-red {
    background-color: #ff3300;
    color: white;
}

#roles {
    background-color: #ff3300;
}

#mapa {
    background-color: #f18701;
}

#github {
    background-color: #0055ff;
}

/* Eliminar el fondo blanco de las secciones */
.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.dark-mode body {
    background: #121212;
    color: #e0e0e0;
}

.dark-mode footer {
    background: #121212;
}

.equipo-card {
    background-color: #e0e0e0;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    font-family: 'Lexend', Arial, sans-serif;
    color: #333;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

.equipo-card:hover {
    transform: translateY(-10px); /* Efecto de "flotar" al hacer hover */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Sombra más intensa en hover */
}

.equipo-card h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.equipo-card p {
    font-size: 18px;
    margin: 10px 0;
}

.equipo-card strong {
    font-weight: bold;
}

.equipo-card .uade-logo {
    margin-top: 20px;
    width: 100px;
    height: auto;
}

.section-yellow {
    background-color: #ffaa00; /* Fondo amarillo de la sección */
    padding: 100px 50px;
}

@media (max-width: 768px) {
    .equipo-card {
        padding: 15px;
    }

    .equipo-card h2 {
        font-size: 20px;
    }

    .equipo-card p {
        font-size: 16px;
    }
}

.integrantes-container h2 {
    font-size: 2.5rem;
    margin-top: 70px; /* Aumentar el margen superior */
    margin-bottom: 30px;
    color: white;
    text-align: center;
}


/* Título de la sección */
.integrantes-container h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: white; /* Cambiamos a gris oscuro */
    text-align: center; /* Aseguramos que esté centrado */
}

/* Grid para organizar los integrantes */
.integrantes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 30px;
    padding: 20px;
}

/* Cada tarjeta de integrante */
.integrante {
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 0;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.integrante-img {
    width: 200px;
    height: 250px; /* Asegúrate de que mantenga la proporción */
    object-fit: cover; /* Evita recortes, ajusta la imagen al contenedor */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: transform 0.3s ease;
}

/* Estilo para el nombre del integrante */
.integrante h3 {
    font-size: 1.2rem;
    color: #ffffff;
    margin: 10px 0;
    font-weight: bold;
}

/* Estilo para el botón de ficha */
.integrante .ficha-btn {
    margin-bottom: 15px;
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 25px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Animación en hover */
.integrante:hover {
    transform: scale(1.05); /* Agranda la tarjeta */
}

.integrante:hover .integrante-img {
    transform: scale(1.05); /* Agranda la imagen */
}

/* Adaptaciones para pantallas pequeñas */
@media (max-width: 768px) {
    .integrantes-grid {
        grid-template-columns: 1fr;
    }
}
footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
    color: #fff;
}

footer p {
    margin: 0; /* Elimina los márgenes por defecto */
    font-size: 0.9rem; /* Ajusta el tamaño de la fuente */
}

footer .icon {
    position: absolute;
    right: 10px; /* Posiciona el icono a la derecha */
    bottom: 1px; /* Posiciona el icono abajo */
}

footer .icon img {
    width: 40px; /* Ajusta el tamaño del icono */
    height: auto;
}

@media (max-width: 768px) {
    .section {
        padding: 2rem 1rem;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}
.menu-hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    z-index: 20;
  }
  
  .menu-hamburger span {
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  @media (max-width: 860px) {
  .menu-hamburger {
    display: flex;
    justify-content: center;
  }

  nav ul {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    transition: right 0.3s ease;
    list-style: none;
    z-index: 10;
    overflow: hidden;
  }

  nav ul li {
    margin: 20px 0;
  }

  .menu-hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(6.5px, 6.5px);
  }

  .menu-hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  nav ul.show {
    right: 0;
  }

  body.menu-open {
    overflow: hidden;
  }
}